{% extends 'base.html.twig' %}

{% block title %} Checkout {% endblock %}

{% block body %}
       {% for array in cart %}

            <td> Name: {{ array.name }} </td><br>
            <td> Price: {{ array.price }} </td><br>
            <td> Amount: {{ array.amount }} </td><br>
            <td> Total: </td>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}

        <b>{{ total }}</b><br>
{% endblock %}    